<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap4.css}" />

<title>Article</title>
</head>
<body>
	<div layout:fragment="content">
<div class="container">

    <div class="jumbotron">
        <h1>Formulaire de soumission à la création d'article</h1>
    </div>


	<form action="#" th:action="@{/admin/saveSection}" th:object="${section}" method="post">
    	
    	<div class="form-group">
    	<label class="control-label">Titre :</label>
    	<input class="form-control" type="text" th:field="*{title}" />
    	</div>
    	
    	<div class="form-group">
    	<label class="control-label">Content:</label>
    	<textarea class="form-control" th:field="*{content}"></textarea>
    	</div>
    	
    	
    	<div class="form-group">
    	<select th:field="*{chapitre}" class="form-control">
	       <option th:each="c: ${chapitreList}" th:value="${c.id}" th:text="${c.title}"></option>
	    </select>
    	</div>
    	
    	<div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit" /> <input class="btn btn-primary" type="reset" value="Reset" />
        </div>
    </form>
	
	
</div>

</div>

</body>
</html>