<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap4.css}" />

<title>Registration</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="jumbotron bg-dark text-white">
				<h1>Bienvenue sur notre site</h1>
			</div>
		</div>

		<ul th:each="article : ${articles}">
			<li>
			<a th:href="@{'/article/' + ${article.id}}">
			<h1 class="title" th:text="${article.title}"></h1>
			</a>
			<p th:text="${article.description}"></p></li>

		</ul>
	</div>
</body>
</html>