<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />



<title>Registration</title>

</head>



<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="jumbotron bg-dark text-white">
				<h1>Bienvenue sur notre site</h1>
			</div>
		</div>

		<div class="container">

			<div class="card-deck" th:each="article : ${pageArticles}">
				<a th:href="@{'/article/' + ${article.id}}">
					<div class="card">
						<img class="card-img-top"
							src="https://www.w3schools.com/w3css/img_snowtops.jpg"
							alt="Card image cap" />
						<div class="card-body">
							<h5 th:text="${article.title}" class="card-title"></h5>
							<p class="card-text" th:text="${#strings.abbreviate(article.description,100)}">...</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Ajouté le <span
								th:text="${article.dateCreate}"></span></small>
						</div>
					</div>
				</a>
			</div>


			<nav>
				<ul class="pagination">
					<li th:each="p:${pages}"
						th:class="${p==pageCourante}?'page-item active':''"><a
						th:text="${p}" th:href="@{index(page=${p})}" class="page-link"></a>
					</li>
				</ul>
			</nav>
			<hr />
		</div>
		
		

		<div class="container">
			<div th:each="b : ${books}">
				<div class="jumbotron">
					<img th:src="@{getCover(id=${b.id})}" style="float:left; width:200px; margin-top:-50px;"/>
					<h1 th:text="${b.title}"></h1>
					<p th:text="${#strings.abbreviate(b.description,200)}">...</p>
					<a class="btn btn-primary" th:href="@{'/book/' + ${b.id}}">Voir la description -></a>
					
				</div>
			</div>
		</div>
	</div>



</body>
</html>